/*__________________________________MENU_________________________________*/
.navbar {
    background-color: #fff;
    color: #4F5A65;
    padding-top: 2%;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 2%;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
  }
  .nav-links{   
    display: flex;
    margin-left: 80px;
  }
  .navbar ul.links {
    margin-left: 0px;
    margin-right: 80px;
    list-style: none;
    display: flex;
    align-items: center;
    transition: 0.4s ease all, 0s ease background;
  }
  .navbar ul.links li {
    text-transform: uppercase;
    padding: 0 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease all, 0s ease margin;
  }
  .navbar ul.links li a {
    text-decoration: none;
    color: #4F5A65;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
  }
  .navbar ul.links li:hover {
    cursor: pointer;
  }
  .navbar ul.links li:hover a{
    color: #0f0f0f;
  }
  .num{
    display: flex;
    justify-content: space-between;
  }
  .num img{
    height: 25px;
    margin-top: 21px;
  }
  .num p{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: #4F5A65;
    margin-left: 15px;
  }
  .navbar.sticky {
    /* position: fixed; */
    z-index: 40;
  }
  .navbar.sticky ~ main {
    position: relative;
    z-index: 20;
    top: 65px;
  }
  .nav-top{
    margin-top: 20px;
    margin-bottom: -8px;
    margin-left: 95px;
    display: flex;
  }
  #search{
    width: 300px;
    height: 35px;
    border-radius: 7px;
    border: solid 1px #E4E4E4;
    outline: none;
    box-shadow: none; 
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 10px;
  }
  input::placeholder{
    color: #A2ABB5;
  }
  input{
    outline: none;
    outline-offset: 0;
    box-shadow: none;
  }
  .search-logo{
    margin-left: -30px;
  }
  .nav-btn{
    display: flex;
    margin-left: auto;
  }
  .btn-wh{
    width: 300px;
    height: 35px;
    border-radius: 7px;
    border: solid 1px #E4E4E4;
    outline: none;
    box-shadow: none; 
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: transparent;
    color: #75818D;
  }
  .btn-bl{
    width: 300px;
    height: 35px;
    border-radius: 7px;
    border: solid 1px #E4E4E4;
    outline: none;
    box-shadow: none; 
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #056BC9;
    color: #fff;
    margin-left: 10px ;
  }
  .nav-btn button img{
    margin-left: 10px;
  }
  .btn-wh-img{
    width: 20px;
    margin-bottom: -3px;
    margin-left: 0px;
    margin-right: 5px;
  }
  
  /*__________________________________HEADER______________________________*/
  .header{
    background: url(../img/back1.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 830px;
  }
  .header-content{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    color: #fff;
    padding-top: 220px;
    padding-left: 20%;
  }
  .header-content h1{
    width: 404px;
    font-weight: 500;
    font-size: 72px;
    line-height: 85px;
    align-items: flex-end;
    text-transform: uppercase;
  }
  .header-content p{
    width: 500px;
    font-weight: lighter;
    font-size: 26px;
    line-height: 40px;
    color: #E4E4E4;
    margin-top: 20px;
  }
  .header-content button{
    width: 310px;
    height: 60px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 30px;
  }
  .header-content button:hover{
    background: #056BC9;
    transition: 0.5s;
  }
  .header-content button:hover a{
    color: #fff;
  }
  .header-content a{
    color: #056BC9;
  }
  .lines{
    text-align: center;
    margin-top: 140px;
  }
  .fix-icons{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    z-index: 70;
  }
  .fix-icons img{
    display: block;
    margin-top: 10px;
  }
  .fix-icons img:hover{
    width: 100%;
    transition: 0.9s;
    margin-right: 30px;
  }
  /*__________________________________SERVICES__________________________________*/
  .popular-services{
    box-sizing: border-box;
    /* padding-left: 8%;
    padding-right: 8%; */
    padding-top: 5%;
  }
  .popular-services .title{
    padding-left: 20%;
  }
  .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 55px;
  }
  .slide-container{
    max-width: 70%;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .slider-card{
    width: 360px;
    height: 600px;
    border-radius: 25px; 
    border: 1px solid #EFEFEF;
    border-radius: 15px;
    background-color: #fff;
    padding-left: 60px;
    padding-top: 70px;
  }
  .slider-card:hover{
    background-color: #056BC9;
    color: #fff;
    transition: 0.6s;
  }
  .card-title{
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
    color: #4F5A65;
    margin-top: 35px;
  }
  .slider-card:hover .card-title{
    color: #fff;
    transition: 0.6s;
  }
  .description{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #788592;
    margin-top: 16px;
    margin-bottom: 100px;
  }
  .slider-card:hover .description{
    color: white;
    transition: 0.6s;
  }
  .slider-card button{
    border: none;
    background: transparent;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #056BC9;
    margin-left: 20px;
  }
  .wh-line-down{
    overflow: hidden;
    height: 0;
  }
  .slider-card:hover .bl-line-down{
    overflow: hidden;
    height: 0;
  }
  .slider-card:hover .wh-line-down{
    overflow: visible;
    height: auto;
  }
  .slider-card:hover button{
    color: #fff;
    transition: 0.6s;
  }
  .swiper-navBtn{
    color: #4F5A65;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #056BC9;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #056BC9;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
  
  /*_________________________________OUR-BLOG__________________________________*/
  
  .our-blog .title{
    padding-top: 2%;
    padding-left: 20%;
  }
  .our-blog .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-bottom: 55px;
  }
  .our-blog .slide-container{
    max-width: 70%;
    width: 100%;
    padding: 40px 0;
  }
  .our-blog .slider-card{
    border: none;
    width: 450px;
    height: 580px;
    padding-left: 0px;
    padding-top: 0px;
  }
  .our-blog .slider-card:hover{
    background-color: #fff;
    border: 1px solid #EFEFEF;
  }
  .blog-img{
    margin-bottom: 20px;
    width: 490px;
  }
  .our-blog .slider-card-content{
    padding-left: 32px;
  }
  .our-blog .slider-card-content a{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #056BC9;
  }
  .our-blog .card-title{
    font-weight: 500;
    font-size: 26px;
    line-height: 29px;
    color: #4F5A65;
    text-transform: capitalize;
    margin-top: 20px;
  }
  .our-blog .title-line{
    width: 80px;
    height: 2px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .our-blog p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #788592;
  }
  .our-blog button{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #056BC9;
    border: none;
    border-radius: 10px;
    float: right;
    margin-top: -50px;
    margin-right: 20px;
    z-index: 50;
  }
  .our-blog .slider-card:hover .card-title{
    color: #4F5A65;
    transition: 0.6s;
  }
  
  
  /*__________________________________APPOINTMENT__________________________________*/
  .zapis{
    background: url(../img/back2.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 750px;
  }
  .zapis-cont{
    color: #fff;
    text-align: center;
    padding-top: 130px;
  }
  .zapis-cont h1{
    font-weight: 500;
    font-size: 56px;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .zapis-cont p{
    font-weight: lighter;
    font-size: 24px;
    line-height: 35px;
    text-transform: uppercase;
    color: #F0F0F0;
    margin-top: 30px;
  
  }
  .zapis-cont form{
    margin-top: 30px;
  }
  .zapis-cont input{
    width: 250px;
    height: 60px;
    background: #212121;
    opacity: 0.5;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #E1E1E1;
    padding-left: 20px;
    margin-right: 10px;
  }
  .zapis-cont button{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background: #fff;
    color: #056BC9;
    font-weight: 600;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-left: 5px;
  }
  .zapis-cont button:hover{
    background: #056BC9;
    color: #fff;
    transition: 0.5s;
  }
  .pluses{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -220px;
  }
  .plus{
    text-align: center;
  }
  .plus h1{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #4F5A65;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .plus p{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #788592;
    margin-top: 20px;
  }
  .thr-point{
    display: flex;
    justify-content: space-between;
  }
  .thr-point .point{
    background-color: #C4C4C4;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin: 3px;
    margin-top: 120px;
  }
  .line-point{
    display: flex;
    justify-content: space-between;
  }
  .line-point .line{
    background-color: #EFEFEF;
    height: 1px;
    width: 120px;
    margin-top: 8px;
  }
  .line-long{
    position: absolute;
    background-color: #EFEFEF;
    height: 1px;
    width: 220px;
    margin-top: 37px;
    margin-left: -90px;
  }
  
  /*________________________________MED_BRANCHES____________________________*/
  .med-branches{
    padding-top: 4%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
  }
  .title h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    text-transform: uppercase;
    color: #4F5A65;
  }
  .branches{
    display: flex;
    justify-content: space-between;
  }
  .branch{
    margin-top: 60px;
  }
  .branch:hover .img-box{
    height: 400px;
    transition: 0.5s;
  }
  .branch:hover h2{
    text-decoration: underline 2px solid #4F5A65;
  }
  .title-line{
    width: 50px;
    height: 4px;
    background: #4F5A65;
    margin-top: 15px;
  }
  .branch .img-box{
    width: 340px;
    height: 320px;
    /* background-color: #A2ABB5; */
    border-radius: 15px;
  }
  .branch button{
    width: 55px;
    height: 55px;
    background-color: #056BC9;
    border: none;
    border-radius: 10px;
    float: right;
    margin-top: -30px;
    margin-right: 15px;
    z-index: 50;
  }
  .branch h2{
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #4F5A65;
    margin-top: 25px;
  }
  .branch .title-line{
    height: 3px;
    margin-top: 20px;
  }
  .br1{
    background: url(../img/br1.png) no-repeat;
    background-size: cover;
  }
  .br2{
    background: url(../img/br2.png) no-repeat;
    background-size: cover;
  }
  .br3{
    background: url(../img/br3.png) no-repeat;
    background-size: cover;
  }
  .br4{
    background: url(../img/br4.png) no-repeat;
    background-size: cover;
  }
  .med-lines{
    text-align: center;
    margin-top: 50px;
  }
  
  /*_________________________________MED-DOCTORS_____________________________*/
  .med-doctors{
    padding-top: 4%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 6%;
  }
  .doc-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .doc-card{
    display: flex;
    justify-content: space-between;
    width: 640px;
    height: 380px;
    border: 1px solid #EFEFEF;
    border-radius: 15px;
  }
  .doc-img{
    height: 380px;
    width: 264px;
    background: url(../img/docman2.png);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  .doc-wo{
    background: url(../img/docwo2.png);
  }
  .doc-info{
    margin-right: 56px;
  }
  .doc-info h1{
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    color: #4F5A65;
    margin-top: 60px;
  }
  .doc-info h2{
    width: 250px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #555555;
    margin-top: 20px;
  }
  .doc-info h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #888888;
  }
  .doc-info p{
    width: 220px;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #555555;
  }
  .doc-info .line{
    width: 230px;
    height: 1px;
    background-color: #EFEFEF;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .doc-more{
    width: 220px;
    height: 380px;
    background-color: #056BC9;
    border-radius: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 130px;
  }
  .doc-more button{
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 80px;
    margin-bottom: 20px;
  }
  .doc-more:hover button{
    width: 70px;
    height: 70px;
    margin-left: 75px;
  }
  .doc-more:hover img{
   width: 25px;
  }
  
  /*_____________________________________APPOINTMENT_2___________________________________*/
  .zapis-second{
    background: url(../img/back3.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .pluses2 p{
    width: 350px;
  }
  
  /*__________________________________RVIEWS_________________________________*/
  .our_reviews{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
  }
  .reviews{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  .review{
    width: 420px;
    height: 450px;
    background-color: #F9F9F9;
    border-radius: 15px;
    padding-top: 25px;
    padding-left: 36px;
  }
  .ava-img{
    background: url(../img/ava.png) no-repeat;
    background-size: cover;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background-color: #C4C4C4;
    margin-bottom: 20px;
  }
  .review h1{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4F5A65;
  }
  .review p{
    width: 340px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #788592;
    margin-top: 20px;
  }
  .last-rev{
    margin-right: -100px;
    width: 320px;
  }
  .last-rev p{
    background-image: linear-gradient(90deg, #788592, #2aa5a100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .rev-more{
    height: 450px;
    padding-top: 170px;
  }
  
  /*________________________________MEDI-ART________________________________*/
  .medi-art{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    padding-top: 3%;
  }
  .medi-art-cont{
    display: flex;
    justify-content: space-between;
  }
  .med-img{
    background: url(../img/medy.png) no-repeat;
    background-size: cover;
    width: 700px;
    height: 640px;
    background-color: #C4C4C4;
    border-radius: 15px;
  }
  .art-info{
    padding-top: 5%;
    padding-right: 10%;
  }
  .art-info .title{
    margin-bottom: 40px;
  }
  .art-info p{
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #788592;
    width: 600px;
  }
  .art-info h2{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #4F5A65;
    margin-top: 40px;
  }
  
  /*______________________________CONTACT_______________________________*/
  .contacts{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .contact-cont{
    display: flex;
    justify-content: space-between;
  }
  .map iframe{
    width: 1160px;
    height: 620px;
    border-radius: 15px;
  }
  .cont-info{
    background-color: #F8F8F8;
    padding-top: 70px;
    padding-bottom: 55px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 15px;
  }
  .cont-info h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #4F5A65;
  }
  .cont-info p{
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #788592;
  }
  .cont-info .line{
    width: 220px;
    height: 1px;
    background-color: #DEE1EB;
    margin-bottom: 30px;
  }
  
  /*_______________________________FOOTER_________________________________*/
  footer{
    background-color: #292929;
    padding-bottom: 2%;
  }
  .foot-head{
    display: flex;
    background: #373737;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .foot-head p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #B3B3B3;
  }
  .foot-head h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 15px;
  }
  .foot-icon{
    margin-left: auto;
  }
  .foot-info{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 8%;
    padding-right: 8%;
  }
  .foot-cont a{
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #C0C0C0;
  }
  .column .links{
    display: grid;
  }
  .title a{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .column-links{
    display: flex;
    margin-top: 10px;
  }
  .column-links .links{
    margin-right: 25px;
  }
  .foot-info button{
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #056BC9;
  }
  .foot-info p{
    color: #C0C0C0;
  }
  .foot-line{
    width: 84%;
    height: 1px;
    background: #4D4D4D;
    margin-left: 8%;
    margin-right: 8%;
  }
  .foot-cont h2{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #D1D1D1;
    margin-top: 18px;
    padding-left: 8%;
    padding-right: 8%;
  }
  
  