<div class="appointment">
    <div class="appoint-cont">
      <div class="zapis zapis-second">
        <div class="zapis-cont">
          <h1>Запись на прием</h1>
          <img src="{{ 'assets/img/Rectangle 2120.png'|theme }}" alt="">
          <p>Заполните поля и наш консультант свяжется <br> с вами в ближайшее время</p>
          <form action="">
            <input type="text" placeholder="Ваше имя">
            <input type="text"placeholder="Ваш телефон">
            <button type="submit">Отправить</button>
          </form>
        </div>
      </div>
      <div class="pluses pluses2">
        <div class="plus">
          <img src="{{ 'assets/img/docs.png'|theme }}" class="plus-img">
          <h1>КВАЛИФИЦИРОВАННЫЙ ПЕРСОНАЛ</h1>
          <div class="line-point">
            <div class="line"></div>
            <img src="{{ 'assets/img/point.png'|theme }}">
            <div class="line"></div>
          </div>
          <p>
            Наши специалисты преумножают свои
            знания на курсах повышения
            квалификации, участвуют в международных конференциях и научных семинарах, проводят обучающие мастер-классы.
          </p>
        </div>
        <div class="decor">
          <div class="thr-point">
            <div class="point"></div>
            <div class="point"></div>
            <div class="point"></div>
          </div>
          <div class="line-long"></div>
        </div>
        <div class="plus">
          <img src="{{ 'assets/img/like.png'|theme }}" class="plus-img">
          <h1>безупречная репутация</h1>
          <div class="line-point">
            <div class="line"></div>
            <img src="{{ 'assets/img/point.png'|theme }}">
            <div class="line"></div>
          </div>
          <p>
            Наша безупречная репутация является результатом успешного лечения и индивидуального подхода к каждому пациенту.
          </p>
        </div>
        <div class="decor">
          <div class="thr-point">
            <div class="point"></div>
            <div class="point"></div>
            <div class="point"></div>
          </div>
          <div class="line-long"></div>
        </div>
        <div class="plus">
          <img src="{{ 'assets/img/doh.png'|theme }}" class="plus-img">
          <h1>ИНДИВИДУАЛЬНЫЙ ПОДХОД</h1>
          <div class="line-point">
            <div class="line"></div>
            <img src="{{ 'assets/img/point.png'|theme }}">
            <div class="line"></div>
          </div>
          <p>
            Мы оказываем высококвалифицированные медицинские услуги и максимально детально изучаем проблему каждого отдельного пациента.
          ​</p>
        </div>
      </div>
    </div>
</div>