<div class="contacts" id="contact">
    <div class="contact-cont">
      <div class="map">
        <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps/163/astana/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Астана</a><a href="https://yandex.kz/maps/163/astana/house/Y0gYcgFhTUYHQFtrfX11dH5jZQ==/?ll=71.462529%2C51.144322&utm_medium=mapframe&utm_source=maps&z=17.54" style="color:#eee;font-size:12px;position:absolute;top:14px;">Проспект Тауелсиздик, 20/1 — Яндекс Карты</a><iframe src="https://yandex.kz/map-widget/v1/?ll=71.462529%2C51.144322&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg2NzM0NzIyMBJN0prQsNC30LDSm9GB0YLQsNC9LCDQkNGB0YLQsNC90LAsINCi05nRg9C10LvRgdGW0LfQtNGW0Log0LTQsNKj0pPRi9C70YssIDIwLzEiCg1A7I5CFa-UTEI%2C&z=17.54" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
      </div>
      <div class="cont-info">
        <h1>ЮР/ФАКТИЧЕСКИЙ АДРЕС:</h1>
        <p>Казахстан, г. Астана, пр. <br> Тауельсыздик, 20/1</p>
        <div class="line"></div>
        <h1>телефон:</h1>
        <p>+7 (777) 955-59-95</p>
        <div class="line"></div>
        <h1>электронная почта:</h1>
        <p>example@mail.kz</p>
        <div class="line"></div>
        <h1>Время работы:</h1>
        <p>Пн-Пт: с 08.30 до 19.00 <br>
          Сб: с 08.30 до 16.00 <br>
          Вс: Выходной</p>
      </div>
    </div>
</div>